@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --body-font: 'Poppins', sans-serif;
    --text-color: #000;
    --theme-color: #6666ff;
    --text-heading: 3.25rem;
    --text-md: 1.75rem;
    --text-lg: 2rem;
    --text-xl: 2.5rem;
    --text-2xl: 3rem;
    --text-subheading: 1.5rem;
    --text-normal: 1.25rem;
    --text-less: 1.25rem;
    --text-height-normal: 2;
    --text-height-less: 1.75;
}

@media(max-width: 600px) {
    :root {
        --text-heading: 3rem;
        --text-subheading: 1.75rem;
        --text-normal: 1.2rem;
        --text-height-normal: 1.75;
        --text-md: 1.3rem;
        --text-lg: 2rem;
        --text-xl: 2.5rem;
        --text-2xl: 3rem;
    }
}

@media(max-width: 425px) {
    :root {
        --text-heading: 2.75rem;
        --text-subheading: 1.35rem;
        --text-less: 1.1rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    /* overflow: hidden; */
}

.btn {
    background-color: var(--theme-color) !important;
    font-size: 1.15rem;
    padding: 0.65rem 1.5rem;
    color: var(--bs-white);
}

.heading {
    font-size: var(--text-heading);
    font-weight: 700;
}

.subheading {
    font-size: var(--text-subheading);
}

.text {
    font-size: var(--text-normal);
    line-height: var(--text-height-normal);
}
.text-theme {
    color: var(--theme-color);
}
.accordion-item {
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
    background: unset !;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-dark);
    background-color: unset;
    box-shadow: none;
}


/* Qualifications */
#qual{
    padding: 3rem 0;
    overflow-x: hidden;
}
#qual .stepper-container {
    display: flex;
    height: 300px;
    position: relative;
}
#qual .btn {
    background-color: #fff !important;
    color: var(--theme-color);
    border-color: var(--theme-color);
    transition: 0.5s  ease;
}
#qual .btn:hover {
    transition: 0.5s  ease;
    background: var(--bs-gray-200) !important;
}
#qual .active {
    transition: 0.5s  ease;
    background: var(--theme-color) !important;
    color: #fff;
}
#qual .active:hover {
    background: var(--theme-color) !important;
    color: #fff;
}
#qual .stepper-container .h-130 {
    height: 100px;
}

#qual .stepper-container .line {
    width: 2px;
    background-color: var(--theme-color);
}

#qual .stepper-container .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#qual .stepper-container .left .qual-item {
    padding-left: 1rem;
    padding-right: 4rem;
    width: 100%;
    position: relative;
    overflow: visible;
    background: var(--bs-white);
}

#qual .stepper-container .left .qual-item:first-child::before {
    top: -4px;
    right: -15px;
    background: var(--theme-color);
}

#qual .stepper-container .left .qual-item:last-child {
    margin-right: -2px;
}

#qual .stepper-container .left .qual-item:last-child::before {
    right: -14px;
}

#qual .stepper-container .left .qual-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: -16.5px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 100;
    background: var(--theme-color);
}

#qual .stepper-container .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#qual .stepper-container .right .qual-item {
    padding-left: 3rem;
    width: 100%;
    position: relative;
}

#qual .stepper-container .right .qual-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    z-index: 100;
    background: var(--theme-color);
}

@media(max-width: 810px) {

    #qual .stepper-container .left .qual-item,
    #qual .stepper-container .right .qual-item {
        width: 100%;
    }
}

@media(max-width: 600px) {
    #qual .stepper-container .left .qual-item {
        padding-right: 1rem;
    }

    #qual .stepper-container .right .qual-item {
        padding-left: 1.5rem;
    }

    #qual .stepper-container .title {
        font-size: 1.25rem;
    }

    #qual .stepper-container .text-muted {
        font-size: 0.85rem;
    }

    #qual .stepper-container .date {
        font-size: 0.75rem;
        font-weight: 600;
    }

}
@media(max-width: 425px) {
    #qual .btn{
        transform: scale(0.9);
    }
}
#educ-container,
#work-container{
    transition: 0.5s;
    animation: qual 0.5s ease-in-out;
}

@keyframes qual {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 700px) {

    #qual .stepper-container {
        height: 340px;
    }

    #qual .stepper-container .h-130 {
        height: 120px;
    }
}