@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --body-font: 'Poppins', sans-serif;
    --text-color: #000;
    --theme-color: #6666ff;
    --text-heading: 3.25rem;
    --text-md: 1.75rem;
    --text-lg: 2rem;
    --text-xl: 2.5rem;
    --text-2xl: 3rem;
    --text-subheading: 1.5rem;
    --text-normal: 1.25rem;
    --text-less: 1.25rem;
    --text-height-normal: 2;
    --text-height-less: 1.75;
}

@media(max-width: 600px) {
    :root {
        --text-heading: 3rem;
        --text-subheading: 1.75rem;
        --text-normal: 1.2rem;
        --text-height-normal: 1.75;
        --text-md: 1.3rem;
        --text-lg: 2rem;
        --text-xl: 2.5rem;
        --text-2xl: 3rem;
    }
}

@media(max-width: 425px) {
    :root {
        --text-heading: 2.75rem;
        --text-subheading: 1.35rem;
        --text-less: 1.1rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    /* overflow: hidden; */
}

.btn {
    background-color: var(--theme-color) !important;
    font-size: 1.15rem;
    padding: 0.65rem 1.5rem;
    color: var(--bs-white);
}

.heading {
    font-size: var(--text-heading);
    font-weight: 700;
}

.subheading {
    font-size: var(--text-subheading);
}

.text {
    font-size: var(--text-normal);
    line-height: var(--text-height-normal);
}
.text-theme {
    color: var(--theme-color);
}
.accordion-item {
    border: none;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
    background: unset !;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-dark);
    background-color: unset;
    box-shadow: none;
}

